<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ya.haojun.roadtoadventure">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.PermissionActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ChartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectDistanceMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JourneyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JourneyStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JourneyRecordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FriendListActivity" />
        <activity android:name=".activity.FriendChatActivity" />
        <activity android:name=".activity.SearchFriendActivity" />
        <activity android:name=".activity.PersonalRecordListActivity" />
        <activity android:name=".activity.AddPersonalRecordActivity"></activity>
    </application>

</manifest>